body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

img {
  width: 199px;
  height: auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #B9B7B7;
  margin-top: 5px;
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: #9358DD;
  margin-bottom: 5px;
}

.social {
  margin-top: 42px;
}

.social a {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

.facebook {
  color: #3B5998;
  margin-right: 16px;
}

.twitter {
  color: #00ACEE;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;  
}

h5 {
  font-size: 24px;
  color: #9358DD;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  width: 629px;
  margin: 0 auto;
}

.about-me {
  margin-bottom: 60px;
}