body {
  background-color: #ccc;
}

.post {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}

.post-header {
  display: flex;
  align-items: flex-start;
}

.post-header img {
  width: 35px;
  height: auto;
}